@use 'variables' as v; 
@use 'base/mixins' as m;

html {
    font-size: 50%;
    box-sizing: border-box;

    @include m.tablet {
        font-size: 62.5%;
    }

    transition: all .2s ease;
}
*, *:before, *:after {
    box-sizing: inherit;
}
  
body {
    font-family: v.$fuentePrincipal;
    font-size: 1.6rem;
    height: 100vh;
}
.contenedor {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}
ul {
    padding:0;
    list-style: none;
    margin: 0;
}

a {
    text-decoration: none!important;
}
