// Fuentes
$fuentePrincipal: 'Open Sans', sans-serif;
$fuenteSecundaria: 'Roboto', cursive;
$fuenteTerciaria: 'Poppins', sans-serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktopxl: 1200px;

$verde: #84D9BC;
$gris: #313C4E;
$terciario: #2e2e4d;
$negro: #000;
$blanco: #FFFFFF;
$grisClaro: #333454;
$azulClaro: rgba(83, 189, 236, 0.8);
$oscuro: #01081f;
$textColor: #777;
$linkColor: #999;
$transparent: rgba(255, 255, 255, 0.315);

$shadow: 0.2em 0 1em rgba(0, 0, 0, .45);


$degradado: linear-gradient(105deg, #2e2e4d 72%, #fff 72.1%);